[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyairtable = "*"
pandas = "*"
python-dotenv = "*"
schedule = "*"
ratelimit = "*"
beautifulsoup4 = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
